#post1{ 
	background-color: #005b92;

}

#post2{ 
	background-color: #00665c;

}

#post3{ 
	background-color: #ecae3e;

}

#post1 img{ 
	width: 80%;
}
#post2 img{ 
	width: 80%;
}
#post3 img{ 
	width: 80%;
}
#imgControl1{
	margin-left: 25%;
}
#imgControl2{
	margin-left: 25%;
}
#imgControl3{
	margin-left: 25%;
}	

.classWithPad { margin:10px; padding:10px; }

#first{
	padding:5px;
	padding-bottom:5px;
}

#second{
	padding:10px;
}

#third{
	padding:10px;
}

